<!-- success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: radial-gradient(circle, #8B0000 30%, #2B0000 100%);
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        h1 {
            color: #FFD700;
        }
    </style>
</head>
<body>

    <h1>Thank you! Your booking has been confirmed.</h1>
    <p>We appreciate your choice and will contact you shortly.</p>
    <a class="btn btn-success" href="{% url 'index' %}">GO TO Index</a>

</body>
</html>
